<appSettings>
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="FacebookAppId" value="195952834312850" />
  <add key="FacebookAppSecret" value="edf2fd874e2a6003633ea65b05c455ed" />
  <add key="webpages:Enabled" value="false" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
</appSettings>
